<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../template/common/commonLayout.xhtml">
    <ui:define name="content">
        <div class="card">
            <div style="margin-top: 12px; margin-left: 50px; margin-right: 50px;">
                <div class="p-field p-grid" style="float: right; padding-right: 8px">
                    <p:outputLabel value="Total balance: " style="font-size: 16px; margin-right: 5px"/>
                    <div class="ui-inputgroup">
                        <p:inputNumber id="balance"
                                       value="#{withdrawBean.getTotalBalance()}"
                                       label="Balance"
                                       modifyValueOnWheel="false"
                                       decimalPlaces="2"
                                       readonly="true">
                        </p:inputNumber>
                        <span class="ui-inputgroup-addon">ILS</span>
                    </div>
                </div>
            </div>

            <div style="margin-left: 50px; margin-right: 50px">
                <p:dataTable id="bankAccountsTable" size="small" var="bankAccount" value="#{homepageBean.bankAccounts}"
                             style="margin-bottom: 20px">
                    <f:facet name="header">
                        <div align="center" style="font-weight: bold;">
                            Bank Accounts
                        </div>
                    </f:facet>

                    <p:column headerText="Bank Account">
                        <h:outputText value="#{bankAccount.bankAccount}"/>
                    </p:column>

                    <p:column headerText="Currency">
                        <h:outputText value="#{bankAccount.currency}"/>
                    </p:column>

                    <p:column headerText="Current Balance">
                        <h:outputText value="#{bankAccount.currentBalance}">
                            <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Actions">
                        <p:commandLink id="deposit" style="color:black" actionListener="#{router.goToDeposit}">
                            <i class="fa fa-plus" style="margin-right: 5px"/>
                        </p:commandLink>
                        <p:tooltip for="deposit" value="Make a deposit" position="top"/>

                        <p:commandLink id="withdraw" style="color:black" actionListener="#{router.goToWithdraw}">
                            <i class="fa fa-minus" style="margin-right: 5px"/>
                        </p:commandLink>
                        <p:tooltip for="withdraw" value="Make a withdrawal" position="top"/>

                        <p:commandLink id="edit" style="color:black">
                            <i class="fa fa-edit fa-lg" style="margin-right: 5px"/>
                        </p:commandLink>
                        <p:tooltip for="edit" value="Edit bank account" position="top"/>

                        <p:commandLink id="delete" style="color:black">
                            <i class="fa fa-trash fa-lg" style="margin-right: 5px"/>
                        </p:commandLink>
                        <p:tooltip for="delete" value="Delete bank account" position="top"/>
                    </p:column>
                </p:dataTable>
            </div>

            <div style="margin-left: 50px; margin-right: 50px">
                <p:dataTable id="lastFiveTransactionsTable" size="small" var="transaction"
                             value="#{homepageBean.transactions}" style="margin-bottom: 20px">
                    <f:facet name="header">
                        <div align="center" style="font-weight: bold;">
                            Last 5 Transactions
                        </div>
                    </f:facet>

                    <p:column headerText="Number" style="width: 70px">
                        <h:outputText value="#{transaction.currentNumber}"/>
                    </p:column>

                    <p:column headerText="Created Date">
                        <h:outputText value="#{transaction.createdDate}"/>
                    </p:column>

                    <p:column headerText="Type">
                        <h:panelGroup rendered="#{transaction.isDeposit()}">
                            <i class="fa fa-arrow-right fa-lg text-success" style="margin-right: 7px"/>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{transaction.isWithdrawal()}">
                            <i class="fa fa-arrow-left fa-lg text-danger" style="margin-right: 7px"/>
                        </h:panelGroup>

                        <h:outputText value="#{transaction.transactionType}"/>
                    </p:column>

                    <p:column headerText="Bank Account">
                        <h:outputText value="#{transaction.bankAccount}"/>
                    </p:column>

                    <p:column headerText="Amount">
                        <h:panelGroup rendered="#{transaction.isDeposit()}">
                            <i class="fa fa-plus text-success" style="margin-right: 7px"/>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{transaction.isWithdrawal()}">
                            <i class="fa fa-minus text-danger" style="margin-right: 7px"/>
                        </h:panelGroup>

                        <h:outputText value="#{transaction.transactionAmount}">
                            <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
            </div>
        </div>
    </ui:define>
</ui:composition>