<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>

    <meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Tarya Bank</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../css/common.css" rel="stylesheet" media="screen"/>
    <link href="../css/layout.css" rel="stylesheet" media="screen"/>
    <link href="../css/flags.css" rel="stylesheet" media="screen"/>
    <link href="../css/font-awesome.css" rel="stylesheet" media="screen"/>
    <link href="../css/primeflex.css" rel="stylesheet" media="screen"/>
</h:head>

<h:body style="background-color: #f5f5f5">
    <div>
        <h:form id="loginForm">
            <p:messages id="messages" showDetail="false" closable="true">
                <p:autoUpdate/>
            </p:messages>

            <h:panelGroup layout="block" style="width: 550px; position: absolute;
                            left: 50%; top: 50%; transform: translate(-50%, -50%);">
                <p:panelGrid styleClass="ui-noborder" style="width: 100%">
                    <p:row>
                        <p:column styleClass="centeredText">
                            <p:panel header="Login" style="font-size: 25px; text-align: center">
                                <p:panelGrid styleClass="ui-noborder" style="width: 100%">
                                    <!-- USERNAME -->
                                    <p:row>
                                        <p:column styleClass="centeredText"
                                                  style="text-align: right">
                                            <p:outputLabel for="username" value="Username:"/>
                                        </p:column>

                                        <p:column styleClass="centeredText">
                                            <p:inputText id="username"
                                                         value="#{loginBean.userLoginReqDto.username}"
                                                         required="true"
                                                         label="Username">
                                                <f:validateLength minimum="2"/>
                                            </p:inputText>
                                        </p:column>

                                    </p:row>

                                    <!-- PASSWORD -->
                                    <p:row>
                                        <p:column styleClass="centeredText"
                                                  style="text-align: right">
                                            <p:outputLabel for="password" value="Password:"/>
                                        </p:column>

                                        <p:column styleClass="centeredText">
                                            <p:password id="password"
                                                        value="#{loginBean.userLoginReqDto.password}"
                                                        required="true" label="Password">
                                                <f:validateLength minimum="3" maximum="30"/>
                                            </p:password>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column styleClass="centeredText">
                            <div style="padding-bottom: 40px">
                                <div style="float: left; text-align: center; padding-left: 120px">
                                    <a href="register.xhtml">Don't have an account? Register.</a>
                                </div>

                                <div style="float: right; padding-right: 10px">
                                    <p:commandButton value="Login"
                                                     update="loginForm"
                                                     actionListener="#{loginBean.login()}"
                                                     icon="pi pi-check"/>
                                </div>
                            </div>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:panelGroup>
        </h:form>
    </div>
</h:body>
</html>