<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Tarya Bank</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../css/common.css" rel="stylesheet" media="screen"/>
    <link href="../css/layout.css" rel="stylesheet" media="screen"/>
    <link href="../css/flags.css" rel="stylesheet" media="screen"/>
    <link href="../css/font-awesome.css" rel="stylesheet" media="screen"/>
    <link href="../css/primeflex.css" rel="stylesheet" media="screen"/>
</h:head>

<h:body style="background-color: #f5f5f5">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" style="font-size: 45px;text-align: center">Register</div>
                    <div class="card-body">
                        <div>
                            <h:form id="registerForm">
                                <p:messages id="messages" showDetail="false" closable="true">
                                    <p:autoUpdate/>
                                </p:messages>

                                <h:panelGroup layout="block">
                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%">
                                        <p:row>
                                            <!--GENERAL INFO-->
                                            <p:column styleClass="centeredText" style="width: 500px">
                                                <p:panel header="General Information">
                                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%">
                                                        <!-- FIRST NAME -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="firstname" value="Firstname:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputText id="firstname"
                                                                             value="#{registerBean.userReqDto.firstName}"
                                                                             required="true"
                                                                             label="Firstname">
                                                                    <f:validateLength minimum="2"/>
                                                                </p:inputText>

                                                            </p:column>
                                                        </p:row>

                                                        <!-- LAST NAME -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="lastname" value="Lastname:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputText id="lastname"
                                                                             value="#{registerBean.userReqDto.lastName}"
                                                                             label="Lastname"
                                                                             required="true">
                                                                    <f:validateLength minimum="2"/>
                                                                </p:inputText>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- AGE -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="age" value="Age:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputNumber id="age"
                                                                               value="#{registerBean.userReqDto.age}"
                                                                               required="true" label="Age"
                                                                               modifyValueOnWheel="false"
                                                                               decimalPlaces="0">
                                                                    <f:validateLongRange minimum="18" maximum="110"/>
                                                                </p:inputNumber>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- SOCIAL ID -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="socialId" value="Social ID:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputText id="socialId"
                                                                             value="#{registerBean.userReqDto.socialId}"
                                                                             label="SocialId"
                                                                             required="true"
                                                                             maxlength="10">
                                                                    <f:validateLength minimum="10" maximum="10"/>
                                                                    <f:validateRegex pattern="^[0-9]+$"/>
                                                                </p:inputText>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- GENDER -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="gender" value="Gender:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:selectOneRadio id="gender"
                                                                                  value="#{registerBean.userReqDto.gender}"
                                                                                  layout="grid" columns="3"
                                                                                  styleClass="grid-radio">
                                                                    <f:selectItems value="#{registerBean.genderValues}"
                                                                                   var="c"
                                                                                   itemLabel="#{registerBean.userReqDto.gender}"
                                                                                   itemValue="#{registerBean.userReqDto.gender}"/>
                                                                </p:selectOneRadio>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- E-MAIL -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="email" value="E-mail:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputText id="email"
                                                                             value="#{registerBean.userReqDto.email}"
                                                                             label="Email" required="true">
                                                                    <f:validateRegex
                                                                            pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]"/>
                                                                </p:inputText>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                </p:panel>
                                            </p:column>

                                            <!-- BANK DETAILS -->
                                            <p:column styleClass="centeredText"
                                                      style="width: 500px; vertical-align: top;">
                                                <p:panel header="Bank Details">
                                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%">
                                                        <!-- BANK NUMBER -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="bankNumber" value="Bank number:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputNumber id="bankNumber"
                                                                               value="#{registerBean.userReqDto.bankNumber}"
                                                                               required="true" label="BankNumber"
                                                                               modifyValueOnWheel="false"
                                                                               decimalPlaces="0">
                                                                    <f:validateLongRange minimum="10" maximum="99"/>
                                                                </p:inputNumber>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- BANK BRANCH NUMBER -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="bankBranchNumber"
                                                                               value="Bank branch number:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputNumber id="bankBranchNumber"
                                                                               value="#{registerBean.userReqDto.bankBranchNumber}"
                                                                               required="true" label="BankBranchNumber"
                                                                               modifyValueOnWheel="false"
                                                                               decimalPlaces="0">
                                                                    <f:validateLongRange minimum="100" maximum="999"/>
                                                                </p:inputNumber>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- BANK ACCOUNT NUMBER -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="bankAccountNumber"
                                                                               value="Bank account number:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputNumber id="bankAccountNumber"
                                                                               value="#{registerBean.userReqDto.bankAccountNumber}"
                                                                               required="true" label="BankAccountNumber"
                                                                               modifyValueOnWheel="false"
                                                                               decimalPlaces="0">
                                                                    <f:validateLongRange minimum="100000000"
                                                                                         maximum="999999999"/>
                                                                </p:inputNumber>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                </p:panel>
                                            </p:column>
                                        </p:row>

                                        <p:row>
                                            <!-- USER ACCOUNT CREDENTIALS  -->
                                            <p:column styleClass="centeredText" style="width: 500px">
                                                <p:panel header="User Account Credentials">
                                                    <p:panelGrid styleClass="ui-noborder" style="width: 100%">
                                                        <!-- USERNAME -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="username" value="Username:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:inputText id="username"
                                                                             value="#{registerBean.userReqDto.username}"
                                                                             required="true"
                                                                             label="Username">
                                                                    <f:validateLength minimum="2"/>
                                                                </p:inputText>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- PASSWORD -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="password" value="Password:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:password id="password"
                                                                            value="#{registerBean.userReqDto.password}"
                                                                            match="repeatedPassword"
                                                                            required="true" label="Password">
                                                                    <f:validateLength minimum="3" maximum="30"/>
                                                                </p:password>
                                                            </p:column>
                                                        </p:row>

                                                        <!-- REPEATED PASSWORD -->
                                                        <p:row>
                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:outputLabel for="repeatedPassword"
                                                                               value="Repeated password:"/>
                                                            </p:column>

                                                            <p:column styleClass="centeredText" style="width: 500px">
                                                                <p:password id="repeatedPassword"
                                                                            value="#{registerBean.userReqDto.repeatedPassword}"
                                                                            required="true" label="Repeated password">
                                                                </p:password>
                                                            </p:column>
                                                        </p:row>
                                                    </p:panelGrid>
                                                </p:panel>
                                            </p:column>
                                        </p:row>

                                        <p:row>
                                            <p:column styleClass="centeredText" style="width: 500px">
                                                <p:commandButton value="Register"
                                                                 actionListener="#{registerBean.register()}"
                                                                 update="registerForm"
                                                                 icon="pi pi-check"/>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </h:panelGroup>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</h:body>
</html>