<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../template/common/commonLayout.xhtml">
    <ui:define name="content">
        <div class="card">
            <h:panelGroup
                    style="margin-left: 50px; margin-right: 50px; margin-bottom: 30px;
                      margin-top: 25px; border: 2px solid lightgrey; padding: 10px;">
                <h:form>
                    <h:panelGroup style="width: 40%; float: left;">
                        <h:panelGroup style="text-align: center">
                            <p:outputLabel for="options" value="Filter Options"/>
                            <h:selectOneMenu id="options" style="margin-left: 5px; height: 37px"
                                             value="#{reportsBean.selectedFilterOption}">
                                <f:selectItems value="#{reportsBean.getFilterOptions()}" var="option"
                                               itemValue="#{option}" itemLabel="#{option.getLabel()}"/>
                                <p:ajax update="range" process="@this"/>
                            </h:selectOneMenu>
                        </h:panelGroup>
                    </h:panelGroup>

                    <h:panelGroup style="width: 50%; float: left;">
                        <p:outputLabel for="range" value="Select Period"/>
                        <p:datePicker id="range" style="margin-left: 5px;" selectionMode="range"
                                      value="#{reportsBean.period}" readonlyInput="true"
                                      disabled="#{reportsBean.disableDatePicker()}" size="20"/>
                    </h:panelGroup>

                    <h:panelGroup style="float: right;">
                        <div style="background-color: dodgerblue; border-radius: 4px">
                            <i class="pi pi-search" style="margin-left: 10px; color: white"/>
                            <h:commandLink styleClass="btn btn-default" value="Search"
                                           actionListener="#{reportsBean.showTransactionsList()}"
                                           update="tableWrapper"
                                           style="color: white; height: 37px">
                            </h:commandLink>
                        </div>
                    </h:panelGroup>
                </h:form>
            </h:panelGroup>

            <h:panelGroup id="tableWrapper" style="margin-left: 50px; margin-right: 50px">
                <h:form>
                    <p:dataTable id="filteredTransactionsTable" size="small" var="transaction"
                                 value="#{reportsBean.transactions}" style="margin-bottom: 20px"
                                 rows="10" paginator="true" paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {ExcelExporter}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                                 rowsPerPageTemplate="5,10,20">

                        <f:facet name="header">
                            <div align="center" style="font-weight: bold;">
                                All Transactions For #{reportsBean.selectedFilterOption.getLabel()}
                            </div>
                        </f:facet>

                        <p:column headerText="Number" style="width: 70px">
                            <h:outputText value="#{transaction.currentNumber}"/>
                        </p:column>

                        <p:column headerText="Created Date">
                            <h:outputText value="#{transaction.createdDate}"/>
                        </p:column>

                        <p:column headerText="Type" exportable="false">
                            <h:panelGroup rendered="#{transaction.isDeposit()}">
                                <i class="fa fa-arrow-right fa-lg text-success" style="margin-right: 7px"/>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{transaction.isWithdrawal()}">
                                <i class="fa fa-arrow-left fa-lg text-danger" style="margin-right: 7px"/>
                            </h:panelGroup>

                            <h:outputText value="#{transaction.transactionType}"/>
                        </p:column>

                        <p:column headerText="Type" style="display: none;">
                            <h:outputText value="#{transaction.transactionType}"/>
                        </p:column>

                        <p:column headerText="Bank Account">
                            <h:outputText value="#{transaction.bankAccount}"/>
                        </p:column>

                        <p:column headerText="Amount" exportable="false">
                            <h:panelGroup rendered="#{transaction.isDeposit()}">
                                <i class="fa fa-plus text-success" style="margin-right: 7px"/>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{transaction.isWithdrawal()}">
                                <i class="fa fa-minus text-danger" style="margin-right: 7px"/>
                            </h:panelGroup>

                            <h:outputText value="#{transaction.transactionAmount}">
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Amount" style="display: none">
                            <h:outputText value="#{transaction.transactionAmount}">
                                <f:convertNumber maxFractionDigits="2" minFractionDigits="2"/>
                            </h:outputText>
                        </p:column>

                        <f:facet name="{ExcelExporter}">
                            <h:commandLink>
                                <i class="fa fa-file-excel-o fa-2x" style="color: mediumseagreen; "/>
                                <p:dataExporter type="xls"
                                                target="filteredTransactionsTable" fileName="filteredTransactions"/>
                            </h:commandLink>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </h:panelGroup>
        </div>
    </ui:define>
</ui:composition>