<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../template/common/commonLayout.xhtml">
    <ui:define name="content">
        <p:messages id="messages" showDetail="true" closable="true">
            <p:autoUpdate/>
        </p:messages>

        <div class="card">
            <div style="margin: auto; border: 2px solid lightgray; padding-left: 150px; padding-right: 150px; padding-top: 10px; padding-bottom: 10px; margin-top: 25px; margin-bottom: 50px">
                <h3 style="padding-left: 10px">Total balance:</h3>
                <div style="margin-bottom: 10px">
                    <div class="ui-inputgroup">
                        <p:inputNumber id="balance"
                                       value="#{withdrawBean.getTotalBalance()}"
                                       label="Balance"
                                       modifyValueOnWheel="false"
                                       decimalPlaces="2"
                                       readonly="true">
                        </p:inputNumber>
                        <span class="ui-inputgroup-addon">ILS</span>
                    </div>
                </div>
            </div>

            <div style="margin: auto; width: 700px; height: auto; border: 2px solid lightgray; padding-top: 30px; padding-bottom: 30px; margin-bottom: 25px;">
                <h:form id="withdrawForm">
                    <h2 style="text-align: center; margin-bottom: 50px;">Withdraw</h2>

                    <div class="ui-fluid p-formgrid p-grid" style="padding-left: 150px;">
                        <div class="p-field p-grid">
                            <p:outputLabel for="bank_account" value="Bank Account: " style="font-size: 16px"/>

                            <div style="margin-left: 47px">
                                <p:selectOneMenu id="bank_account" value="#{withdrawBean.selectedBankAccountId}"
                                                 style="width:250px">
                                    <f:selectItems value="#{withdrawBean.bankAccountOptions}"
                                                   var="bankAccount" itemValue="#{bankAccount.id}"
                                                   itemLabel="#{bankAccount.bankNumber}-#{bankAccount.bankBranchNumber}-#{bankAccount.bankAccountNumber}"/>
                                </p:selectOneMenu>
                            </div>
                        </div>

                        <div class="p-field p-grid">
                            <p:outputLabel value="Withdraw Amount: " style="font-size: 16px"/>
                            <div style="margin-left: 15px">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon" style="width: 50px;">ILS</span>
                                    <p:inputNumber id="amount"
                                                   value="#{withdrawBean.withdrawAmount}"
                                                   required="true"
                                                   label="Withdraw"
                                                   minValue="1"
                                                   decimalPlaces="2"
                                                   placeholder="Withdraw amount"/>
                                    <p:growl id="message" showDetail="true"/>
                                    <p:commandButton value="Withdraw"
                                                     actionListener="#{withdrawBean.withdraw()}"
                                                     icon="pi pi-check"
                                                     update="message balance">
                                        <p:confirm header="Confirmation"
                                                   message="#{withdrawBean.addConfirmMessage()}"
                                                   icon="pi pi-exclamation-circle"/>
                                    </p:commandButton>

                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
                                                     responsive="true" width="350">
                                        <p:commandButton value="Yes" type="button"
                                                         styleClass="ui-confirmdialog-yes"/>
                                        <p:commandButton value="No" type="button"
                                                         styleClass="ui-confirmdialog-no ui-button-flat"/>
                                    </p:confirmDialog>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 35px; float: left; position: relative; left: 600px">
                        <p:commandButton value="Cancel"
                                         actionListener="#{router.goToHomepage()}"
                                         immediate="true"/>
                    </div>
                </h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>