<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core">
    <h:form>
        <div class="p-grid">
            <div class="p-col top-buffered-xs"><h4>Tarya Bank</h4></div>
        </div>
    </h:form>

    <h:form>
        <p:poll interval="120" update="onlineUsersCount"/>
        <p:growl id="growl" showDetail="true" globalOnly="true">
            <p:autoUpdate/>
        </p:growl>

        <p:menubar>
            <p:menuitem value="Register" icon="pi pi-fw pi-user"
                        actionListener="#{router.goToRegister()}"/>
            <p:menuitem value="Home Page" icon="pi pi-fw pi-home"
                        actionListener="#{router.goToHomepage()}"/>
            <p:menuitem value="Deposit" icon="pi pi-fw pi-plus"
                        actionListener="#{router.goToDeposit()}"/>
            <p:menuitem value="Withdraw" icon="pi pi-fw pi-minus"
                        actionListener="#{router.goToWithdraw()}"/>
            <p:menuitem value="Report" icon="pi pi-fw pi-info"
                        actionListener="#{router.goToReport()}"/>
            <f:facet name="options">
                <h:outputText id="onlineUsersCount" value="Online users: #{currentUserBean.getNumberOfOnlineUsers()}"
                              style="font-size: 13px"/>
                <p:spacer width="50px"/>

                <h:outputText value="Operator" styleClass="text-muted p-text-bold p-text-uppercase"
                              style="font-size: 10px"/>
                <p:spacer width="5px"/>

                <h:outputText
                        value="#{currentUserBean.userLoginRespDto.firstName} #{currentUserBean.userLoginRespDto.lastName}"/>
                <p:spacer width="5px"/>
                <p:commandButton value="Logout" styleClass="ui-button-flat ui-button-plain"
                                 icon="pi pi-fw pi-power-off" actionListener="#{loginBean.logout()}"/>
            </f:facet>
        </p:menubar>
    </h:form>
</ui:composition>