<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <div class="np-card">
        <p style="color: #5e5e5e; text-align: center;" class="top-buffered">
            <a style="left: auto " href="https://www.taryafintech.com/" target="_blank">Learn more about Tarya</a>
            <br/>
            Sofia, Bulgaria
        </p>
    </div>
</ui:composition>
