<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1251"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Tarya Bank</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="../../css/common.css" rel="stylesheet" media="screen"/>
    <link href="../../css/layout.css" rel="stylesheet" media="screen"/>
    <link href="../../css/flags.css" rel="stylesheet" media="screen"/>
    <link href="../../css/font-awesome.css" rel="stylesheet" media="screen"/>
    <link href="../../css/primeflex.css" rel="stylesheet" media="screen"/>
</h:head>

<h:body style="background-color: #f5f5f5">

    <div class="container top-buffered-sm">

        <div id="header">
            <ui:insert name="header">
                <ui:include src="commonHeader.xhtml"/>
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
                <ui:include src="commonContent.xhtml"/>
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="commonFooter.xhtml"/>
            </ui:insert>
        </div>
    </div>
</h:body>
</html>
