.np-card {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #dee2e6;
}

.text-muted {
    color: #777 !important;
}

.top-buffered {
    margin-top: 15px !important;
}

.top-buffered-sm {
    margin-top: 10px;
}

.top-buffered-xs {
    margin-top: 5px;
}

.left-buffered {
    margin-left: 15px;
}

.left-buffered-sm {
    margin-left: 10px;
}

.left-buffered-xs {
    margin-left: 5px;
}

.right-buffered {
    margin-right: 15px;
}

.right-buffered-sm {
    margin-right: 10px;
}

.right-buffered-xs {
    margin-right: 5px;
}

.np-padding-xs {
    padding: 0.25rem !important;
}